.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    flex: 1;
    height: 100%;
    display: flex;
}

