.navbar {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #EEF5FF;
    border-bottom: 1px solid #B4D4FF;
    color: #176B87;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brand {
    font-weight: 600;
    font-size: 1.8rem;
    color: #176B87;
}

.navbar-links {
    display: flex;
    gap: 0.5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-name {
    font-weight: 600;
    font-size: 1.2rem;
    color: #176B87;
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-links {
        position: absolute;
        top: 3.5rem;
        left: 0;
        right: 0;
        background-color: #EEF5FF;
        border-bottom: 1px solid #B4D4FF;
        flex-direction: column;
        padding: 0.5rem 1rem;
        display: none;
    }

    .navbar-links.open {
        display: flex;
        z-index: 1000;
    }

    .user-name {
        display: none;
    }

    .navbar-right {
        gap: 0.75rem;
    }

    .navbar-left {
        gap: 0.75rem;
    }
}
