.loading-background {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.85);
}

.meeting-root {
    height: 100vh;
    width: 100vw;
    background: #0f172a;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.remote-strip-wrapper {
    width: 100%;
    padding: 0.7rem;
    overflow-x: scroll;
}

.remote-strip {
    height: 22vh;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.remote-video-container{
    position: relative;
    height: 100%;
    aspect-ratio: 4/3;
    border-radius: 0.7rem;
    flex-shrink: 0;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
}

.meeting-member-info{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    gap: 0.4rem;
    z-index: 10;
}

.meeting-member-info span{
    border-radius: 0.2rem;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0.5rem;
}

.microphone-badge{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: 500;
}

.current-microphone-badge{
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    z-index: 10;
}

.screen-container {
    position: relative;
    flex: 1;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-video {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border: 2px solid cyan;
    border-radius: 1rem;
}

.meeting-controls {
    display: flex;
    gap: 2rem;
    z-index: 20;
}

.remote-strip-wrapper::-webkit-scrollbar {
    height: 8px;
}

.remote-strip-wrapper::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 0.2rem;
}

.device-settings-popup-content {
    width: 100%;
    background: rgba(255,255,255,0.3);
    font-family: inherit;
}

.device-settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.device-settings-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: #1f2937;
}

.device-settings-body {
    display: flex;
    flex-direction: column;
}

.setting-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .meeting-controls {
        gap: 0.7rem;
    }
}
